*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100vw;
    overflow: hidden;
}
.page1{
     height: 100vh;
    width: 100vw; 
     background: radial-gradient(#ffaeaf, #ffc096, #fffaf6); 
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
nav ul{
    display: flex;
    gap: 25px;
}
nav ul li{
    list-style: none;
    font-size: 20px;
    transition: .5s all ease;
    cursor: pointer;
}
nav ul li:hover{
    scale: 1.1;
}
h3{
    font-family: "Alegreya", serif;
    font-size: 120px;
    text-align: center;
    font-weight: 300;
    padding-top: 20px;
}
h4{
    text-align: center;
    padding-bottom: 50px;
}
.page1 div{
    display: flex;
    justify-content: space-between;
    margin:0 30px ;
}
.page1 div img{
    height: 210px;
    width: 200px;
}
.oval{
    width: 300px;
    height: 120px;
    background: transparent;
    border: 1px solid gray ;
    border-radius: 50%;
}
.oval:hover{
    background-color: #ffaeaf;
    box-shadow: 4px 4px 6px white, -4px -4px 4px white;
}
.oval h1{
    font-size: 20px;
    text-align: center;
    padding: 30px 50px;
    font-family: cursive;
    color: rgb(108, 130, 139);
}
.page2 h1{
    padding: 30px;
    font-size: 40px;
    font-family: "Alegreya", serif;
    font-weight: 200;
}
.card{
    display: flex;
    padding: 40px;
}
.card .first{
    height: 75vh;
    width: 24vw;
    border: 1px solid black;
}
.card .second{
    height: 75vh;
    width: 24vw;
    border: 1px solid black;
}
.card .third{
    height: 75vh;
    width: 24vw;
    border: 1px solid black;
}
.card .fourth{
    height: 75vh;
    width: 24vw;
    border: 1px solid black;
}
.card img{
    height: 40vh;
    width: 22vw;
    transition: 1s all ease;
    cursor: pointer;
}
.card img:hover{
    scale: 1.2;
}
.card h4{
    font-weight: 900;
}
.card button{
    padding: 10px 20px;
    margin-left: 50px;
    background: transparent;
}
.card button:hover{
    background-color: black;
    color: white;
    box-shadow: 4px 4px 5px #ffaeaf, -4px -4px 5px #ffaeaf ;
}
.page3{
    height: 100vh;
    width: 100%;
    position: relative;
}
.page3 .left{
    height: 100vh;
    width: 40%;
}
.page3 .left h1{
    padding: 100px;
    font-family: "Alegreya", serif;
    word-spacing: 5px;
}
.page3 .left p{
    padding: 0 100px;
    word-spacing: 5px;
    line-height: 30px;
}
.page3 .left button{
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    background-color: #e89a3b;
    color: white;
    font-size: 17px;
    margin-top: 50px;
    margin-left: 100px;
}
.page3 .left button:hover{
    box-shadow:  2px 2px 2px black, -2px -2px 2px black;
}
.page3 .right{
    height: 100vh;
    width: 60%;
}
.page3 .right .first{
    height: 320px;
    width: 280px;
    position: absolute;
    top: 20%;
    left: 40%
}
.page3 .right .second{
    height: 400px;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 59%;
}
.page3 .right .third{
    height: 350px;
    width: 250px;
    position: absolute;
    top: 15%;
    left: 80%;
}
.page4 h1{
    font-size: 60px;
    font-family: "Alegreya", serif;
    word-spacing: 5px;
    font-weight: 200;
    padding: 30px;
    text-align: center
}
.page4{
     height: 100vh; 
    width: 100vw;
    overflow: hidden;
    background-color: #f8f8f8;
}
.perfumecardContainer{
    width: 100%;
    display: flex;
    gap: 25px; 
    justify-content: space-evenly;
     animation: perfumecard 10s infinite linear; 
}
.scroller{
    width: 100%;
    display: flex; 
    gap: 25px; 
    justify-content: space-evenly;
    white-space: nowrap;
     /* animation: perfumecard 5s infinite linear;  */
}
.perfumecard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 18vw;
    border: 1px solid black;
    border-radius: 200px 200px 0px 0px;
}
.perfumecard img{
    height: 46vh;
    width: 22vw;
}

 @keyframes perfumecard{ 
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}
nav{
    display: flex;
    justify-content: space-between;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
footer .first h5{
    padding: 20px;
}
footer h5{
    font-size: 20px;
    font-weight: 300;
}
footer p{
    padding: 20px;
}


@media (max-width: 600px){
    nav ul{
        display: none;
    }
    .page1 div{
        display: none;
    }
    .card{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card img{
        height: 46vh;
        width: 65vw;
    }
    .card .first{
        height: 70vh;
        width: 70vw;
    }
    .card .second{
        height: 70vh;
        width: 70vw;
    }
    .card .third{
        height: 70vh;
        width: 70vw;
    }
    .card .fourth{
        height: 70vh;
        width: 70vw;
    }
    .card button{
        padding: 10px 20px;
        margin-left: 70px;
    }
    .page3{
        flex-direction: column;
    }
    .page3 .left h1{
        padding: 20px;
    }
    .page3 .left p{
        padding: 0 20px;
    }
    .page3 .left button{
        margin-left: 20px;
    }
    .page3 {
        display: flex ;
    }
    .page3 .right{
        position: absolute;
        right: 0;
    }
    .page3 .right .first{
        height: 180px;
        width: 160px;
        
    }
    .page3 .right .second{
        height: 170px;
        width: 150px;
        
    }
    .page3 .right .third{
        height: 220px;
        width: 200px;
        
    }
    .perfumecard1{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard2{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard3{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard4{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard5{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard img{
        height: 30vh;
        width: 22vw;
        position: absolute;
        top: 20%;
    }
    footer{
        text-align: center;
        flex-direction: column;
    }
    footer h5{
        font-size: 30px;
        font-weight: 600;
    }
}