*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 100vw;
    overflow: hidden;
}
.page1{
     height: 100vh;
    width: 100vw; 
     background: radial-gradient(#ffaeaf, #ffc096, #fffaf6); 
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
nav ul{
    display: flex;
    gap: 25px;
}
nav ul li{
    list-style: none;
    font-size: 20px;
}
h3{
    font-family: "Alegreya", serif;
    font-size: 120px;
    text-align: center;
    font-weight: 300;
    padding-top: 20px;
}
h4{
    text-align: center;
    padding-bottom: 50px;
}
.page1 div{
    display: flex;
    justify-content: space-between;
    margin:0 30px ;
}
.page1 div img{
    height: 210px;
    width: 200px;
}
.oval{
    width: 300px;
    height: 120px;
    background: transparent;
    border: 1px solid gray ;
    border-radius: 50%;
}
.oval h1{
    font-size: 20px;
    text-align: center;
    padding: 30px 50px;
    font-family: cursive;
    color: rgb(108, 130, 139);
}
.page2 h1{
    padding: 30px;
    font-size: 40px;
    font-family: "Alegreya", serif;
    font-weight: 200;
}
.card{
    display: flex;
    padding: 40px;
}
.card .first{
    height: 75vh;
    width: 24vw;
    border: 1px solid black;
}
.card .second{
    height: 75vh;
    width: 24vw;
    border: 1px solid black;
}
.card .third{
    height: 75vh;
    width: 24vw;
    border: 1px solid black;
}
.card .fourth{
    height: 75vh;
    width: 24vw;
    border: 1px solid black;
}
.card img{
    height: 40vh;
    width: 22vw;
}
.card h4{
    font-weight: 900;
}
.card button{
    padding: 10px 20px;
    margin-left: 50px;
    background: transparent;
}
.page3{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.page3 .left{
    height: 100vh;
    width: 40vw;
    /* background-color: firebrick; */
}
.page3 .left h1{
    padding: 100px;
    font-family: "Alegreya", serif;
    word-spacing: 5px;
}
.page3 .left p{
    padding: 0 100px;
    word-spacing: 5px;
    line-height: 30px;
}
.page3 .left button{
    padding: 6px 12px;
    border-radius: 50px;
    border: none;
    background-color: #ffb75f;
    color: white;
    margin-top: 50px;
    margin-left: 100px;
}
.page3 .right{
    height: 100vh;
    width: 60vw;
}
.page3 .right img{
    position: relative;
}
.page3 .right .first{
    height: 300px;
    width: 250px;
    position: absolute;
    top: 250%;
}
.page3 .right .second{
    height: 400px;
    width: 300px;
    position: absolute;
    top: 230%;
    left: 59%;
}
.page3 .right .third{
    height: 350px;
    width: 250px;
    position: absolute;
    top: 258%;
    left: 80%;
}
.page4 h1{
    font-size: 60px;
    font-family: "Alegreya", serif;
    word-spacing: 5px;
    font-weight: 200;
    padding: 30px;
    text-align: center
}
.page4{
     height: 100vh; 
    width: 100vw;
    overflow: hidden;
    background-color: #f8f8f8;
}
.perfumecard{
    display: flex; 
    justify-content: space-evenly;
    white-space: nowrap;
     animation: perfumecard 5s infinite linear; 
}
.perfumecard1{
    height: 60vh;
    width: 18vw;
    border: 1px solid black;
    border-radius: 200px 200px 0px 0px;
}
.perfumecard2{
    height: 60vh;
    width: 18vw;
    border: 1px solid black;
    border-radius: 200px 200px 0px 0px;
}
.perfumecard3{
    height: 60vh;
    width: 18vw;
    border: 1px solid black;
    border-radius: 200px 200px 0px 0px;
}
.perfumecard4{
    height: 60vh;
    width: 18vw;
    border: 1px solid black;
    border-radius: 200px 200px 0px 0px;
}
.perfumecard5{
    height: 60vh;
    width: 18vw;
    border: 1px solid black;
    border-radius: 200px 200px 0px 0px;
}
.perfumecard img{
    height: 46vh;
    width: 22vw;
    position: absolute;
    top: 20%;
}

 @keyframes perfumecard{ 
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}
nav{
    display: flex;
    justify-content: space-between;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
footer .first h5{
    padding: 20px;
}
footer h5{
    font-size: 20px;
    font-weight: 300;
}
footer p{
    padding: 20px;
}


@media (max-width: 600px){
    nav ul{
        display: none;
    }
    .page1 div{
        display: none;
    }
    .card{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .card img{
        height: 46vh;
        width: 65vw;
    }
    .card .first{
        height: 70vh;
        width: 70vw;
    }
    .card .second{
        height: 70vh;
        width: 70vw;
    }
    .card .third{
        height: 70vh;
        width: 70vw;
    }
    .card .fourth{
        height: 70vh;
        width: 70vw;
    }
    .card button{
        padding: 10px 20px;
        margin-left: 70px;
    }
    .page3{
        flex-direction: column;
    }
    .page3 .left h1{
        padding: 20px;
    }
    .page3 .left p{
        padding: 0 20px;
    }
    .page3 .left button{
        margin-left: 20px;
    }
    .page3 .right .first{
        height: 180px;
        width: 160px;
        position: absolute;
        top: 460%;
        left: 50%;
    }
    .page3 .right .second{
        height: 170px;
        width: 150px;
        position: absolute;
        top: 430%;
        left: 59%;
    }
    .page3 .right .third{
        height: 220px;
        width: 200px;
        position: absolute;
        top: 490%;
        left: 60%;
    }
    .perfumecard1{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard2{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard3{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard4{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard5{
        height: 40vh;
        width: 24vw;
    }
    .perfumecard img{
        height: 30vh;
        width: 22vw;
        position: absolute;
        top: 20%;
    }
    footer{
        text-align: center;
        flex-direction: column;
    }
    footer h5{
        font-size: 30px;
        font-weight: 600;
    }
}